

.Caja{
    border: 0px solid black;
    text-align: center;
    line-height: 40px;
    margin: 10px;
    border-radius: 28px;
    box-shadow:3px 3px 3px black;
    background-color: white;
    font-size: 30px;
}

@font-face {
    font-family: Calculadora;
    src: url("/assets/Calculator.ttf") format("opentype");
}
.Caja:hover{
    float: left;
    /* transition: 0.3s; */
    border: 2px solid black;
}

.Caja:active{
    box-shadow:inset 2px 2px 2px black;
    transition: 0.0s;
    border: 0px solid black;
}
.Calculadora{
    position: absolute;
    z-index: 8;
    display: grid;
    grid-template-columns: 100px 100px 100px; /* ojo, dato importante pa que salgan iguales */
    grid-template-rows: 120px 80px 80px 80px 80px ;
    height: 450px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgb(34, 34, 34);
    background-color: rgb(224, 224, 224);
    margin-top: calc(50vh - 300px);
    margin-left: calc(50vw - 150px);

}

#resultado{ 
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    grid-column: 1/4;/* 
    background-color: green; */
    box-shadow:inset 2px 2px 3px black;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
    color: white;
    font-family: Calculadora;
    text-align:left;
    padding-left: 85px;
    height: 90px;
    
}
