.fondo {
  position: absolute;
  z-index: 1;
  height: 800px;
  top: calc(50vh - 400px);
  left: calc(50vw - 720px);
  transition: 0.5s;
}
.fondosl {
  position: absolute;
  z-index: 1;
  height: 800px;
  top: calc(50vh - 400px);
  left: calc(50vw - 720px);
  transition: 0.5s;
}

.fondoOscuro {
  position: absolute;
  height: 800px;
  top: calc(50vh - 400px);
  left: calc(50vw - 720px);
}
.fondouv {
  position: absolute;
  height: 800px;
  top: calc(50vh - 400px);
  left: calc(50vw - 720px);
}

.punteronegro{
  position: absolute;
  height: 100vh;
  width: 100vw;/* 
  background: radial-gradient(circle at 200px 20px, transparent 100px,red 240px);  */
}


.boxtubo {
  /* zoom: 0.8; */
  scale: 0.8;
  z-index: 2;
  transition-duration: 0.5s;
  top: calc(50vh - 240px);
  left: calc(50vw - 150px);
  position: absolute;
}

.bola {
  position: absolute;
  width: 30px;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
}

.tubo {
  filter: inline-block;
}


.Bantihorario {
  position: absolute;
  z-index: 2;
  height: 100px;
  top: calc(50vh + 0px);
  left: calc(50vw - 200px);
  opacity: 30%;
  transition: 0.5s;
}

.Bantihorario:hover {
  opacity: 100%;
  transition: 0.2s;
  cursor: url(/assets/dedo.png), auto;
}

.Bhorario {
  position: absolute;
  z-index: 2;
  height: 100px;
  top: calc(50vh + 0px);
  left: calc(50vw + 110px);
  opacity: 30%;
  transition: 0.5s;
}

.Bhorario:hover {
  opacity: 800%;
  transition: 0.2s;
  cursor: url(/assets/dedo.png), auto;
}


.puerta {
  z-index: 2;
  position: absolute;
  left: calc(50vw + 560px);
  top: calc(50vh - 150px);
  /* 
  border: 5px solid black; */
  height: 550px;
  width: 100px;
  cursor: url(/assets/dedo.png), auto;
}

.interruptor {
  z-index: 6;
  position: absolute;
  left: calc(50vw + 375px);
  top: calc(50vh + 70px);
       /* border: 5px solid black; */ 
  height: 65px;
  width: 65px;
  cursor: url(/assets/dedo.png), auto;
}

.codigo {
  z-index: 2;
  position: absolute;
  left: calc(50vw + 375px);
  top: calc(50vh - 40px);
       /* border: 5px solid black; */
  height: 65px;
  width: 65px;
  cursor: url(/assets/dedo.png), auto;
}


.linterno {
  position: absolute;
  left: calc(50vw + 50px);
  top: calc(50vh + 100px);
  height: 100px;
  width: 165px;
  cursor: url(/assets/dedo.png), auto;
}

.HI {
  position: absolute;
  height: 800px;
  top: calc(50vh - 400px);
  left: calc(50vw - 720px);
  cursor: url(/assets/invisible.png), auto;
}

.reflejoPizzara {
  position: absolute;
  height: 130px;
  width: 280px;
  top: calc(50vh - 180px);
  left: calc(50vw - 480px);
}

.negro{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 7;
}
.negro2{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 8;
}

.ayudadialogo{
  position: absolute;
  z-index: 20;
  background-color: aliceblue;
  border-radius: 40px;
  left: calc(50vw - 250px);
  top: calc(50vh - 150px);
  width: 500px;
  text-align: center;
  border: 5px solid black;
  padding: 10px;
  font-size: 20px;
}
.BtnInterrogacion{
  position: absolute;
  z-index: 8;
  background-color: aliceblue;
  border-radius: 40px;
  left: calc(50vw + 300px);
  top: calc(50vh - 300px);
  text-align: center;
  border: 5px solid black;
  padding: 10px;
  font-size: 30px;
  cursor: url(/assets/dedo.png), auto;
}
.BtnCerrar{
  position: absolute;
  z-index: 9;
  background-color: aliceblue;
  border-radius: 40px;
  left: calc(50vw + 300px);
  top: calc(50vh - 300px);
  text-align: center;
  border: 5px solid red;
  padding: 10px;
  font-size: 30px;
  cursor: url(/assets/dedo.png), auto;
}

.Bportafolio{
  position: absolute;
  z-index: 8;
  background-color: rgb(38, 78, 114);
  border-radius: 40px;
  left: calc(50vw + 550px);
  top: calc(50vh - 450px);
  text-align: center;
  border: 5px solid black;
  padding: 2px;
  padding-top: 4px;
  font-size: 20px;
  cursor: url(/assets/dedo.png), auto;
  text-decoration: none;
  color: #000;
}

.b42{
  position: absolute;
  z-index: 3;
  transform: rotate(180deg);
  top:-165px;
  left:254px;
  height: 30px;
  width: 30px;
  animation-name: delay;
  animation-duration: 3000ms;
}

@keyframes delay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

